body {
	background: #E6E6E6;
	background-size: 100%;
	color: #222222;
}

a:link, a:visited {
	color: #dc143c;
}

label {
	font-weight: bold;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.logout {
	float: right;
}
